*{
	font-family:helvetica;
	font-size:20px;
	text-align:center;
}

body{
	background-image:url("../Images/lemonbowl.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-color:white;
}

table, th, td{
	border: 1px solid black;
}

a, a:hover, a:visted, a:active{
	color:white;
	/*color:#FFFFFF;*/
	/*color:rgb(0,0,0,);*/
	/*color:rgba(0,0,0,0);*/
	text-decoration:none;
	padding:10px 14px; /*up right down left*/
}

nav{
	background-color:blue;
	width:100%;
}

#profileDiv img{
	float:left;
	/*margin-left:5%;
	margin-top:10%;
	margin-right:5%;*/
	margin:5%;
	/*clear:both;*/
	border:2px groove black;
}

#profileP{
	background-color:white;
	border:1px solid white;
	border-radius:5px;
	padding:20px;
}

#parallax{
	background-image:url(#);
	background-size:cover;
	background-attachment:fixed;
	min-height:200px;
}
